<%- include('../layout/classicAdmin.ejs') %>
<%- include('../layout/headerAdmin.ejs') %>
<%- include('../common/libTable.ejs') %>
<% const key = 'notice'%>

<script>
	$(function(){
			$(".btn-success").click(function(){
				if(confirm("정말 수정하시겠습니까?")){
					var seq = "<%=read.notice_seq %>";
					location.href="/supervise/<%=key%>/update/"+seq;
				}
			})
			$(".btn-danger").click(function(){
				if(confirm("정말 삭제하시겠습니까?")){
					var seq = "<%=read.notice_seq %>";
					ajaxCallGet("/supervise/<%=key%>/remove/"+seq, function(res){
						if(res.success){
							alert("작업이 완료되었습니다.");
							location.href="/supervise/<%=key%>/list"
						}
					})
				}
			})
			var detail = "<%=read.content %>".replace(/&amp;/g,"&").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#039;/g,"'").replace(/&quot;/g,"\"");
	    	$("#content").html(detail);
			
	})
</script>

<!-- Static Table Start -->
<div class="all-content-wrapper"
	style="min-height: 900px; background: white;">



	<div id="myTabContent" class="tab-content custom-product-edit"
		style="padding: 0px 50px 0 50px">
		<div class="product-tab-list tab-pane fade active in" id="description">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="review-content-section">
					
					 <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>공지사항 <span class="table-project-n">Data</span> Table</h1>
                                </div>
                            </div>
					
						<div id="dropzone1" class="pro-ad">
							<form class="dropzone dropzone-custom needsclick add-professors">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<table id="user" class="table table-bordered table-striped x-editor-custom">
			                                <tbody>
			                                	<tr>
													<th>공지사항 정보</th>
													<th>결과</th>
												</tr>
			                                    <tr>
			                                        <td>제목</td>
			                                        <td><%=read.title %></td>
			                                    </tr>
			                                    <tr>
			                                        <td>첨부파일</td>
			                                         <td><a target="_blank" href="<%=read.file_url %>"><%=read.file_url %></a></td>
			                                    </tr>
			                                    <tr>
			                                        <td>조회수</td>
			                                        <td><%=read.view_cnt %></td>
			                                    </tr>
			                                    <tr>
			                                        <td>생성일자</td>
			                                        <td><%=read.create_dt_yyyymmdd %></td>
			                                    </tr>
			                                    <tr>
			                                        <td>작성자</td>
			                                        <td><%=read.create_by_nm %></td>
			                                    </tr>
			                                </tbody>
			                            </table>
			                            
			                            
			                            <table id="" class="table table-bordered table-striped x-editor-custom">
			                                <tbody>
			                                	<tr>
													<th>공지사항 내용</th>
												</tr>
			                                    <tr>
			                                        <td id="content"></td>
			                                    </tr>
			                                </tbody>
			                            </table>
									</div>
									
									
								</div>
							</form>
						</div>
						
							<button type="button" class="btn btn-custon-four btn-danger" style="float:right;margin-left:10px">삭제</button>
							<button type="button" class="btn btn-custon-four btn-success"style="float:right;">수정</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Static Table End -->
<%- include('../layout/footerAdmin.ejs') %>